@font-face {
  font-family: 'Modern-font';
  src: url('./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Sans-bold-font';
  src: url('./assets/fonts/Fredoka_One/FredokaOne-Regular.ttf');
}

@font-face {
  font-family: 'Regular-font';
  src: url('./assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf');
}

:root {
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(3, 82, 108);
}

/* :root {
  --black-color: rgb(240, 240, 240);
  --white-color: rgb(23, 23, 23);
} */

* {
  font-family: 'Regular-font';
}

body {
  background-color: var(--white-color);
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--black-color);
}

::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

::selection {
  color: white;
  background: black;
}

a {
  all: unset;
  cursor: pointer;
}

.heading {
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
  font-size: 4rem;
  font-family: 'Modern-font';
  color: var(--black-color);
  text-align: center;
}

.scroll-down {
  position: relative;
  top: 90%;
  left: 48%;
  font-size: 2rem;
  color: var(--black-color);
}

@media only screen and (max-width: 1080px) {
  .heading { 
    font-size: 2.75rem;
  }
}

@media only screen and (max-width: 786px) {
  body {
    font-size: small;
  }
}